.container {
  width: 100%;
  color: white;
  font-size: 16px;
  margin-top: 25px;
  padding: 12px;
  background: #3b52ff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}
