.dashboard-container {
  width: 100%;
  height: 100%;
}

.dashboard-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 40px;
}

.dashboard-content {
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #777;
}

.dashboard-image {
  width: 180px;
  margin-bottom: 16px;
}

.dashboard-nav {
  padding: 10px;
  gap: 24px;
  margin-bottom: 40px;
}

.nav-item {
  position: relative;
}

.nav-item span {
  cursor: pointer;
  font-weight: 500;
}

.nav-submenu {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 14px;
  color: #666;
}
